@page
@model myapp.Pages.CoachesModel
@{
    ViewData["Title"] = "Coaches";
}

<div class="ant-table-wrapper">
    <div class="ant-table">
        <div class="ant-table-container">
            <div class="ant-table-content">
                <table style="table-layout: auto;">
                    <thead class="ant-table-thead">
                        <tr>
                            <th class="ant-table-cell">Name</th>
                            <th class="ant-table-cell">Team</th>
                            <th class="ant-table-cell">Specialization</th>
                        </tr>
                    </thead>
                    <tbody class="ant-table-tbody">
                        @foreach (var coach in Model.Coaches)
                        {
                            <tr class="ant-table-row ant-table-row-level-0">
                                <td class="ant-table-cell">@coach.Name</td>
                                <td class="ant-table-cell">@coach.Team</td>
                                <td class="ant-table-cell">@coach.Specialization</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
