@page
@model myapp.Pages.PlayersModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Team</td>
                <td>@player.Role</td>
            </tr>
        }
    </tbody>
</table>
