@page
@model myapp.Pages.TeamsModel

@{ ViewData["Title"] = "Teams";
}

<div class="container">
    <h1>Teams</h1>
    <p>This is the page for Teams.</p>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Home Ground</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model.Teams)
                {
                    <tr>
                        <td>@team.Name</td>
                        <td>@team.City</td>
                        <td>@team.HomeGround</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
