@page
@model myapp.Pages.TeamsModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Coach</th>
            <th>City</th>
            <th>Home Ground</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.Coach</td>
                <td>@team.City</td>
                <td>@team.HomeGround</td>
            </tr>
        }
    </tbody>
</table>
