@page
@model myapp.Pages.WinnersModel
@{
    ViewData["Title"] = "IPL Winners";
}

<div class="ant-row" style="margin-bottom: 24px;">
    <div class="ant-col ant-col-24">
        <div class="ant-card">
            <div class="ant-card-body">
                <h2>IPL Winners</h2>
                <table class="ant-table-striped">
                    <thead class="ant-table-thead">
                        <tr>
                            <th>Year</th>
                            <th>Winner</th>
                            <th>Runner Up</th>
                        </tr>
                    </thead>
                    <tbody class="ant-table-tbody">
                        @foreach (var winner in Model.Winners)
                        {
                            <tr>
                                <td>@winner.Year</td>
                                <td>@winner.WinningTeam</td>
                                <td>@winner.RunnerUp</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
